@import url("https://fonts.cdnfonts.com/css/nunito");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html {
  background: #fff;
}

:root {
  --color-1: #929aab;
  --color-2: #393e46;
}

label {
  display: none;
}

body {
  height: auto;
  box-shadow: 2px 2px 2px 2px var(--color-1);
  border-radius: 5px;
  width: 90%;
  margin: 20px auto 10px auto;
  background: #eee;
}

main {
  padding: 20px 20px 10px 20px;
  width: 100%;
  min-height: 75vh;
}

header {
  padding: 10px;
  text-align: center;
}

#add-new-game {
  height: 70vh;
  width: 100%;
  box-shadow: 2px 2px 2px 2px var(--color-1);
  padding: 20px;
}

.recent-scores {
  width: 100%;
  display: none;
  margin-top: 10px;
  padding-bottom: 20px;
}

.add-score {
  width: 100%;
  display: none;
}

.add-score-2 {
  padding-top: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px var(--color-1);
}

.names-scores {
  width: 100%;
  height: auto;
  box-shadow: 2px 2px 2px 2px var(--color-1);
  border-radius: 5px;
}

.details {
  margin: 0;
  padding: 10px;
  color: var(--color-2);
}

.names-scores :nth-child(even) {
  background: rgb(202, 201, 201);
}

.head-scores {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#refresh,
#submit,
#add-game {
  padding: 0.5em;
  box-shadow: 3px 3px 0 0 var(--color-2);
  font-size: 0.9em;
  color: var(--color-2);
  border-radius: 5px;
}

.add-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

#refresh :hover {
  cursor: pointer;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  padding: 0 10px 10px 10px;
}

.score-txt {
  padding: 10px 0 0 10px;
}

input {
  padding: 0.7em;
  width: 100%;
  border: 2px solid var(--color-1);
  border-radius: 5px;
}

input::placeholder {
  font-size: 1em;
}

#submit {
  width: 5em;
}

#add-game {
  width: 10em;
}

footer {
  position: relative;
  width: 90%;
  text-align: center;
  margin-top: 0;
}

footer > p {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .main {
    width: 90%;
    margin: auto;
  }

  .add-game {
    width: 80%;
  }

  .add-new-game {
    width: 80%;
  }

  .add-score {
    width: 45%;
    float: left;
  }

  .add-score-2 {
    width: 100%;
    float: left;
    padding: 1.5em;
  }

  .recent-scores {
    width: 45%;
    float: right;
  }
}
